.footer-wrap
  .footer
    .button-rooms
      .btn ps aux

    .share
      .lbl
        | Need more players? Invite your twitter friends
      .twitter
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://nodoku.nko3.jit.su" data-size="large" data-count="none">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    .nko
      <iframe src="http://nodeknockout.com/iframe/df" frameborder=0 scrolling=no allowtransparency=true width=115 height=25>
      </iframe>

    .source
      a(href='https://github.com/nko3/df') Source

    .button-help
      .btn instructions