!!! 5
html
  head
    title Nodoku
    meta(charset="utf-8")
    link(href="/styles/styles.css",rel="stylesheet",type="text/css")
  body
    .fp
      :markdown
        ###Node Knockout project that aims to become a multiplayer game with a NodeJS twist.
        ###This page will be updated when we have something ready.

        ##The rules of the Nodoku:

        1. You do not talk about Nodoku.
        1. All action happens in a single event loop.
        2. You DO NOT block the Event loop.
        3. I/O (slow thinking) is asynchronous.
        4. Used CPU/Bandwidth will cost you a lower score.


        Nodoku is being developed by [tonistiigi](https://github.com/tonistiigi)([@limejs](https://twitter.com/limejs)) and [paveljartsev](https://github.com/paveljartsev) .


        Voting for Node Knockout will take place on Nov12 - Nov18. If you like us let your friends know at [Twitter](https://twitter.com)/[Facebook](https://facebook.com)/[whatever](http://en.wikipedia.org/wiki/List_of_social_networking_websites).
      <iframe src="http://nodeknockout.com/iframe/df" frameborder=0 scrolling=no allowtransparency=true width=115 height=25>
      </iframe>

      br
      br
      br
      br
      a(href='/game.html', style='font-size: 6px') i fear no evil