.header
  span.app Nodoku:
  span.name
  .info
    span
      span.label Player:
      span.value.me Test test
    span
      span.label Watchers:
      span.value.watchers
    span
      span.label Players:
      span.value.players-joined 0
      /
      span.value.players-limit

.content
  .col.board-wrap
    .board
    .button-join
    .button-solve
  .col.play-wrap
    .timer
    .play Game active
    .button-start
  .col.result-wrap
    .result-cpu
    .result-net
    .result-score
