.header
  span.app Nodoku:
  span.name
  .info
    span
      span.label Player:
      span.value.me Test test
    span
      span.label Watchers:
      span.value.watchers
    span
      span.label Players:
      span.value.players-joined 0
      /
      span.value.players-limit

.content
  .col.board-wrap
    .board
    .button-join
      input(value="yourname")
      span.btn Join
    .button-solve
  .col.play-wrap
    .timer
    .play Game active
    .button-start
      | Start game at
      input(value="10")
      seconds
      .btn Go
  .col.result-wrap
    .result.result-cpu
      .title CPU Profiler
      table
        thead
          tr
            td
            td Sum
            td Count
            td Avg
        tbody
    .result.result-net
      .title Network
      .result-net-content
        .names
        .packets
    .result.result-score
p
  a(href="javascript:test(1)") test
