.header
  span.app Nodoku:
  span.name
  .info
    span
      span.label Player:
      span.value.me Test test
    span
      span.label Watchers:
      span.value.watchers
    span
      span.label Players:
      span.value.players-joined 0
      /
      span.value.players-limit

.content
  .game-over
    .player-limit
      | Game ended! Not enough players in the room.
    .winner
      | Game ended! KO win for
      span.winnername [winner]
  .col.board-wrap
    .board
    .button-join
      input(value="yourname")
      span.btn Join
    .button-solve Send
  .col.play-wrap
    .timer-cont
      | Your game will start at
      span.timer
      | seconds.
    .play Game active
    .button-start
      | Start game at
      input(value="2")
      | seconds
      .btn Go
    .button-start-nopeople
      | At least 2 people are required to start the game.
    .button-start-notmaster
      | Waiting for
      span.mastername
      | to start the game.
  .col.result-wrap
    .result.result-cpu
      .title CPU Profiler
      table
        thead
          tr
            td
            td Sum
            td Count
            td Avg
        tbody
    .result.result-net
      .title Network
      .result-net-content
        .names
        .packets
    .result.result-leaderboard
      .title Leaderboard
      table
        thead
          tr
            td
            td CPU
            td Net
            td Total
        tbody
p
  a(href="javascript:test(1)") test
