.header
  span.app Nodoku:
  span.name
  .info
    span.player
      span.label Player:
      span.value Test test
    span.watchers
      span.label Watchers:
      span.value
    span.players
      span.label Players:
      span.joined 0
      /
      span.limit

.content
  .col.board-wrap
    .board
    .button-join
    .button-solve
  .col.play-wrap
    .timer
    .play Game active
    .button-start
  .col c
