.header
  span.app Nodoku:
  span.name
  .info
    span.player
      span.label Player:
      span.value Test test
    span.watchers
      span.label Watchers:
      span.value
    span.players
      span.label Players:
      span.joined
      /
      span.limit

.content
  .col a
  .col b
  .col c
