.instructions.page3

  .img
  .txt
    :markdown
      ###Scoring:

      Scoring takes place in 2 parts:

      You get penalty for blocking the loop. Stopwatch will count the time the loop was blocked because of you and show it in the profiler.

      Every square that was solved by other players before and got loaded into an empty slot on your puzzle will count as your network traffic.

      Penalty for one square loaded in equals the penalty for blocking the loop for one second.

  .protip Protip: If its your turn try to send a solution as fast as possible. You can also post an empty solution.

  .buttons
    .btn.skip That is all