.instructions.page1
  :markdown
    ##Welcome to Nodoku

    ####Nodoku is a multiplayer sudoku-like game built for [NKO3](https://nodeknockout.com). It adds ideas introduced by [Node.JS](https://nodejs.org) to this old and boring game to make it more fun.


    ###Nodoku rules:

    - All action happens in a single event loop.
    - You DO NOT block the Event loop.
    - I/O (slow thinking) is asynchronous.
    - Used CPU/Bandwidth will cost you a lower score.


  .buttons
    .btn.skip Skip rest
    .btn.next Next
