.instructions.page2

  .img1
  .txt1
    :markdown

      All players are placed in a circle in fixed order.
      
      You can only interact with the game when its your turn.
      
      When its your turn the movement is blocked until you release the lock.

  .protip
    | Protip: When you open a room you are in a watch mode. You need to click JOIN to be included in the game.
  .img2
  .txt2
    :markdown
      When game starts all players receive a (easy) sudoku puzzle.
      
      All players solve the same puzzle.
      
      When its your turn

        - you can send away parts of the puzzle you have solved.
        - parts solved by other people are loaded into your puzzle.

  .buttons
    .btn.skip OK, I think I got it
    .btn.next Next
