.room
  .name #{name}
  .watchers
    span.label Watchers:
    span.count #{watchers}
  .players
    span.label Players:
    span.joined #{joined}
    /
    span.limit #{limit}
  .button-open
    .btn Open
