body {
  color: #000;
  font-family: Helvetica, arial, sans-serif;
  font-size: 16px;
  padding-bottom: 40px;
}
input[type="text"] {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 5px;
}
.fp {
  font-family: Helvetica;
  background: #eee;
  margin: 40px 110px 30px 30px;
  padding: 30px 50px 120px;
}
.fp h2 {
  font-size: 40px;
  margin: 50px 0 30px;
}
.fp ol {
  padding-bottom: 40px;
}
.fp ol li {
  padding: 8px 0;
  font-weight: bold;
  font-size: 18px;
}
.fp ol li:first-child {
  color: #bbb;
  text-decoration: line-through;
  -webkit-text-decoration-color: #c00;
}
.fp a {
  color: #196dc4;
  text-decoration: none;
}
.fp a:hover {
  text-decoration: underline;
}
.clear {
  clear: both;
  display: block;
  font-size: 0;
}
#cont {
  margin: 20px auto;
  width: 960px;
}
.btn {
  background-color: #090;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  padding: 6px 0;
  text-align: center;
}
.btn:hover {
  background-color: #080;
}
.room {
  background-color: #f2f2f2;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 160px;
  line-height: 140%;
  float: left;
  margin: 5px;
  padding: 10px;
  position: relative;
  width: 160px;
}
.room .button-open,
.room .button-add {
  position: absolute;
  bottom: 10px;
  width: 140px;
}
.room .button-add .btn {
  background-color: #f90;
}
.room .button-add .btn:hover {
  background-color: #f80;
}
.room input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 140px;
}
.room .field {
  font-size: 13px;
  color: #666;
  padding: 5px 3px 0;
}
.room .field input {
  width: 30px;
  text-align: center;
  margin-left: 10px;
}
.room .name {
  text-align: center;
  font-weight: bold;
  height: 40px;
  padding: 5px;
  overflow: hidden;
}
.room .players,
.room .watchers {
  padding: 0 10px;
  font-size: 16px;
}
.room .players .label,
.room .watchers .label {
  width: 100px;
  padding-right: 10px;
  font-size: 14px;
}
.room .players .label {
  padding-right: 22px;
}
.header {
  background-color: #999;
  border-radius: 5px;
  color: #fff;
  height: 50px;
  padding: 0 20px;
  position: relative;
}
.header .app,
.header .name {
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  padding-right: 10px;
}
.header .info {
  line-height: 50px;
  position: absolute;
  right: 20px;
  top: 0;
}
.header .info .label {
  font-weight: bold;
  padding-left: 10px;
}
.header .info .player-data {
  cursor: pointer;
}
.header .info .player-data:hover {
  text-decoration: underline;
}
.content {
  padding-top: 10px;
}
.content .col {
  background-color: #f2f2f2;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  min-height: 317px;
  margin-left: 4px;
  padding: 10px;
  position: relative;
  width: 317px;
}
.content .col.board-wrap {
  margin-left: 0;
}
.board-wrap {
  overflow: hidden;
}
.board-wrap .board {
  top: 20px;
  left: 40px;
  background-color: #d5d5d5;
  background: -webkit-gradient(radial, 50% 50%, 95, 50% 50%, 120, from(transparent), to(#eee));
  border-radius: 50%;
  height: 220px;
  position: relative;
  width: 220px;
}
.board-wrap .board .player {
  left: 50%;
  position: absolute;
  top: 50%;
  max-width: 80px;
  overflow: hidden;
  font-size: 15px;
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -ms-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-property: left, top;
  -moz-transition-property: left, top;
  -o-transition-property: left, top;
  -ms-transition-property: left, top;
  transition-property: left, top;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  border-radius: 5px;
  background: rgba(255,255,255,0.6);
  padding: 2px 3px;
}
.state-active .board-wrap .board .current {
  color: #090;
}
.board-wrap .board .is-me {
  font-weight: bold;
  background: rgba(255,255,250,0.9);
}
.board-wrap .button-join,
.board-wrap .button-solve {
  display: none;
  position: absolute;
  bottom: 10px;
  width: 297px;
}
.is-my-move .button-solve {
  display: block;
}
.play-wrap .timer-cont,
.play-wrap .play,
.play-wrap .button-start,
.play-wrap .button-start-nopeople,
.play-wrap .button-start-notmaster {
  display: none;
}
.starttime .play-wrap .timer-cont {
  display: block;
}
.state-active .play-wrap .play {
  display: block;
}
.play-wrap .mastername,
.play-wrap .winnername,
.play-wrap .timer {
  font-weight: bold;
  padding: 0 5px;
}
.play-wrap .button-start {
  text-align: center;
  padding: 90px 20px;
  font-size: 20px;
}
.play-wrap .button-start input[type="text"] {
  margin: 0 5px;
  text-align: center;
  width: 20px;
}
.play-wrap .button-start .btn {
  margin-top: 5px;
}
.play-wrap .timer-cont {
  margin-bottom: -30px;
  text-align: center;
  font-size: 22px;
  margin-top: 20px;
}
.button-start-notmaster,
.button-start-nopeople {
  text-align: center;
  padding: 90px 10px 0;
  font-size: 25px;
}
.result {
  margin-bottom: 10px;
}
.result .title {
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 2px;
}
.result table {
  background-color: #ddd;
  border-radius: 3px;
  border-spacing: 0;
  display: none;
  font-size: 12px;
  padding: 4px;
  width: 100%;
}
.result table td {
  text-align: right;
  width: 25%;
}
.result table td.name {
  text-align: left;
}
.result table thead td {
  font-weight: bold;
}
.result .no-result {
  background-color: #ddd;
  border-radius: 3px;
  font-size: 12px;
  padding: 4px;
}
.result.has-result .no-result {
  display: none;
}
.result.has-result table {
  display: table;
}
.result.has-result .result-net-content {
  display: block;
}
.result-net {
  overflow-x: hidden;
}
.result-net-content {
  background-color: #ddd;
  border-radius: 3px;
  display: none;
  font-size: 12px;
  float: left;
  padding: 4px;
  width: 100%;
}
.result-net-content .names {
  float: left;
  padding-top: 2px;
  width: 25%;
}
.result-net-content .packets {
  float: left;
  overflow-x: auto;
  padding-top: 2px;
  width: 75%;
}
.result-net-content .row {
  height: 16px;
  line-height: 16px;
  position: relative;
}
.result-net-content .packet {
  background-color: #84b6ff;
  border-radius: 4px;
  height: 10px;
  line-height: 16px;
  left: 0;
  position: absolute;
  top: 2px;
}
.result-leaderboard .sum {
  color: #b00;
}
.tiles {
  width: 288px;
  height: 288px;
  border: 3px solid #333;
  border-radius: 5px;
}
.tiles .tile,
.controls .control {
  width: 32px;
  float: left;
  height: 32px;
  font-size: 26px;
  text-align: center;
  border: 1px solid #444;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 4px;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #444;
  cursor: default;
}
.tiles .tile.active,
.controls .control {
  cursor: pointer;
  background: #fff;
  color: #00a;
  border: 1px solid #000;
}
.tiles .tile.active:hover,
.controls .control,
.tiles .tile.active.selected,
.controls .control {
  border-color: #c00;
  background: #fee;
}
.tiles .tile.bb,
.controls .control {
  border-bottom-width: 2px;
}
.tiles .tile.bt,
.controls .control {
  border-top-width: 2px;
}
.tiles .tile.bl,
.controls .control {
  border-left-width: 2px;
}
.tiles .tile.br,
.controls .control {
  border-right-width: 2px;
}
.tiles .tile.error,
.controls .control {
  background: #ffbfbf;
}
.tiles .tile.error.active,
.controls .control {
  color: #c00;
}
.controls {
  width: 288px;
  margin-top: 20px;
  border: 2px solid #f0e80b;
  height: 32px;
  display: none;
}
.controls.visible {
  display: block;
}
.controls .control {
  background: #fffec2;
  color: #665438;
  border-color: #dcb569;
}
.controls .control:hover {
  background: #cfc302;
  cursor: pointer;
}
.game-over {
  border: 3px solid #000;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #fee;
  padding: 14px;
  text-align: center;
  font-size: 20px;
  display: none;
}
.state-end .game-over {
  display: block;
}
.game-over .player-limit {
  display: none;
}
.game-over .winner {
  display: none;
}
.game-over .winner .winnername {
  padding: 0 5px;
  font-weight: bold;
}
.solve-timeout {
  font-size: 26px;
  font-weight: bold;
  color: #c00;
  position: absolute;
  text-align: center;
  width: 295px;
  top: 125px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  display: none;
}
.is-my-move .solve-timeout {
  display: block;
}
.your-move-notice {
  position: absolute;
  z-index: 100;
  background: #b00;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 20px;
  line-height: 100%;
  left: 50%;
  width: 250px;
  margin-left: -135px;
  text-align: center;
  top: 10px;
  display: none;
}
.is-my-move .your-move-notice {
  display: block;
}
.arrow {
  width: 80px;
  height: 40px;
  position: absolute;
  background: url("../img/arrow.png") no-repeat 45px;
  -webkit-background-size: 30px;
  -moz-background-size: 30px;
  background-size: 30px;
  position: absolute;
  top: 122px;
  left: 160px;
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -ms-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: -webkit-transform, -moz-transform;
  -moz-transition-property: -webkit-transform, -moz-transform;
  -o-transition-property: -webkit-transform, -moz-transform;
  -ms-transition-property: -webkit-transform, -moz-transform;
  transition-property: -webkit-transform, -moz-transform;
  display: none;
}
.state-active .arrow {
  display: block;
}
.footer-wrap {
  bottom: 0;
  position: fixed;
  left: 0;
  width: 100%;
}
.footer-wrap .footer {
  height: 30px;
  margin: 10px auto;
  width: 960px;
}
.footer-wrap .footer .btn {
  background-color: #aaa;
  padding-left: 40px;
  padding-right: 40px;
}
.footer-wrap .footer .button-rooms {
  float: left;
}
.footer-wrap .footer .button-help {
  float: right;
}
.footer-wrap .footer .share {
  float: left;
  font-size: 12px;
  color: #666;
  width: 260px;
  margin-left: 40px;
}
.footer-wrap .footer .share .lbl {
  text-align: right;
  float: left;
  padding-right: 7px;
  width: 150px;
}
.footer-wrap .footer .nko {
  float: left;
  padding-top: 1px;
  margin-left: 30px;
}
.dialog-overlay {
  background-color: #333;
  height: 100%;
  left: 0;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  position: fixed;
  top: 0;
  width: 100%;
}
.dialog-player-data {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px #666;
  box-shadow: 2px 2px 2px #666;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 300px;
}
.dialog-player-data input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 5px;
  width: 100%;
}
.dialog-player-data .q {
  font-size: 40px;
  padding: 10px 25px 15px 10px;
  line-height: 150%;
}
.instructions-cont {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px #666;
  box-shadow: 2px 2px 2px #666;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 80%;
  height: 520px;
  font-size: 18px;
}
.instructions-cont a {
  color: #1163d2;
}
.instructions-cont li {
  margin: 15px 0;
}
.instructions-cont .instructions {
  padding: 15px 50px;
}
.instructions-cont h2 {
  font-size: 40px;
}
.instructions-cont .buttons {
  padding-top: 15px;
}
.instructions-cont .buttons .btn {
  float: left;
  padding: 12px 20px;
  margin-right: 20px;
  text-transform: uppercase;
}
.instructions-cont .page2 .img1 {
  width: 250px;
  height: 210px;
  background: url("../img/loop.png") no-repeat;
  -webkit-background-size: 180px;
  -moz-background-size: 180px;
  background-size: 180px;
  float: left;
}
.instructions-cont .page2 .img2 {
  width: 250px;
  height: 230px;
  background: url("../img/sudoku.png") no-repeat;
  -webkit-background-size: 220px;
  -moz-background-size: 220px;
  background-size: 220px;
  margin: 30px 30px;
  float: right;
}
.instructions-cont .page2 .txt1 {
  padding-top: 20px;
}
.instructions-cont .page2 .txt2 {
  clear: left;
  padding-left: 20px;
}
.instructions-cont .page3 .img {
  background: url("../img/stats.png") no-repeat;
  float: right;
  width: 360px;
  height: 400px;
  margin-left: 20px;
  -webkit-background-size: 340px;
  -moz-background-size: 340px;
  background-size: 340px;
}
