body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 16px;
}
.fp {
  font-family: Helvetica;
  background: #eee;
  margin: 40px 110px 30px 30px;
  padding: 30px 50px 120px;
}
.fp h2 {
  font-size: 40px;
  margin: 50px 0 30px;
}
.fp ol {
  padding-bottom: 40px;
}
.fp ol li {
  padding: 8px 0;
  font-weight: bold;
  font-size: 18px;
}
.fp ol li:first-child {
  color: #bbb;
  text-decoration: line-through;
  -webkit-text-decoration-color: #c00;
}
.fp a {
  color: #196dc4;
  text-decoration: none;
}
.fp a:hover {
  text-decoration: underline;
}
#cont {
  margin: 20px auto;
  width: 960px;
}
.button {
  background-color: #090;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  padding: 6px 0;
  text-align: center;
}
.room {
  background-color: #f2f2f2;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 160px;
  line-height: 140%;
  float: left;
  margin: 5px;
  padding: 10px;
  position: relative;
  width: 160px;
}
.room .button {
  position: absolute;
  bottom: 10px;
  width: 140px;
}
.header {
  background-color: #999;
  border-radius: 5px;
  color: #fff;
  height: 50px;
  padding: 0 20px;
  position: relative;
}
.header .app,
.header .name {
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  padding-right: 10px;
}
.header .info {
  line-height: 50px;
  position: absolute;
  right: 20px;
  top: 0;
}
.header .info .label {
  font-weight: bold;
  padding-left: 10px;
}
.content {
  padding-top: 10px;
}
.content .col {
  background-color: #f2f2f2;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  min-height: 314px;
  margin-left: 5px;
  padding: 10px;
  width: 314px;
}
.content .col:first-child {
  margin-left: 0;
}
.board-wrap .board {
  background-color: #bbb;
  border-radius: 50%;
  height: 200px;
  position: relative;
  width: 200px;
}
.board-wrap .board .player {
  left: 0;
  position: absolute;
  top: 0;
}
.board-wrap .board .current {
  color: #090;
}
.board-wrap .button-join,
.board-wrap .button-solve {
  display: none;
}
.play-wrap .timer-cont,
.play-wrap .play,
.play-wrap .button-start,
.play-wrap .button-start-nopeople,
.play-wrap .button-start-notmaster {
  display: none;
}
.starttime .play-wrap .timer-cont {
  display: block;
}
.state-active .play-wrap .play {
  display: block;
}
.result {
  margin-bottom: 10px;
}
.result .title {
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 5px;
}
.result table {
  border-spacing: 0;
  width: 100%;
}
.result td {
  font-size: 12px;
  text-align: right;
  width: 25%;
}
.result td.name {
  text-align: left;
}
.result thead td {
  font-weight: bold;
}
.result-net {
  overflow-x: hidden;
}
.result-net-content {
  font-size: 12px;
}
.result-net-content .names {
  float: left;
  padding-top: 2px;
  width: 25%;
}
.result-net-content .packets {
  float: left;
  overflow-x: auto;
  padding-top: 2px;
  width: 75%;
}
.result-net-content .row {
  height: 16px;
  line-height: 16px;
  position: relative;
}
.result-net-content .packet {
  background-color: #84b6ff;
  border-radius: 4px;
  height: 10px;
  line-height: 16px;
  left: 0;
  position: absolute;
  top: 2px;
}
.result-leaderboard .sum {
  color: #900;
}
.tiles {
  width: 288px;
  height: 288px;
  border: 3px solid #333;
  border-radius: 5px;
}
.tiles .tile,
.controls .control {
  width: 32px;
  float: left;
  height: 32px;
  font-size: 26px;
  text-align: center;
  border: 1px solid #444;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 4px;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #444;
  cursor: default;
}
.tiles .tile.active,
.controls .control {
  cursor: pointer;
  background: #fff;
  color: #00a;
  border: 1px solid #000;
}
.tiles .tile.active:hover,
.controls .control,
.tiles .tile.active.selected,
.controls .control {
  border-color: #c00;
  background: #fee;
}
.tiles .tile.bb,
.controls .control {
  border-bottom-width: 2px;
}
.tiles .tile.bt,
.controls .control {
  border-top-width: 2px;
}
.tiles .tile.bl,
.controls .control {
  border-left-width: 2px;
}
.tiles .tile.br,
.controls .control {
  border-right-width: 2px;
}
.tiles .tile.error,
.controls .control {
  background: #ffbfbf;
}
.tiles .tile.error.active,
.controls .control {
  color: #c00;
}
.controls {
  width: 288px;
  margin-top: 20px;
  border: 2px solid #f0e80b;
  height: 32px;
  display: none;
}
.controls.visible {
  display: block;
}
.controls .control {
  background: #fffec2;
  color: #665438;
  border-color: #dcb569;
}
.controls .control:hover {
  background: #cfc302;
  cursor: pointer;
}
.game-over {
  border: 3px solid #000;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #fee;
  padding: 14px;
  text-align: center;
  font-size: 22px;
  display: none;
}
.state-end .game-over {
  display: block;
}
.game-over .player-limit {
  display: none;
}
.game-over .winner {
  display: none;
}
.game-over .winner .winnername {
  padding: 0 5px;
  font-weight: bold;
}
