body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 16px;
}
.fp {
  font-family: Helvetica;
  background: #eee;
  margin: 40px 110px 30px 30px;
  padding: 30px 50px 120px;
}
.fp h2 {
  font-size: 40px;
  margin: 50px 0 30px;
}
.fp ol {
  padding-bottom: 40px;
}
.fp ol li {
  padding: 8px 0;
  font-weight: bold;
  font-size: 18px;
}
.fp ol li:first-child {
  color: #bbb;
  text-decoration: line-through;
  -webkit-text-decoration-color: #c00;
}
.fp a {
  color: #196dc4;
  text-decoration: none;
}
.fp a:hover {
  text-decoration: underline;
}
#cont {
  margin: 20px auto;
  width: 960px;
}
.header {
  background-color: #999;
  border-radius: 5px;
  color: #fff;
  height: 50px;
  padding: 0 20px;
  position: relative;
}
.header .app,
.header .name {
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  padding-right: 10px;
}
.header .info {
  line-height: 50px;
  position: absolute;
  right: 20px;
  top: 0;
}
.header .info .label {
  font-weight: bold;
  padding-left: 10px;
}
.content {
  padding-top: 10px;
}
.content .col {
  background-color: #f2f2f2;
  border-radius: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  height: 314px;
  margin-left: 9px;
  padding: 10px;
  width: 314px;
}
.content .col:first-child {
  margin-left: 0;
}
.board-wrap .board .current {
  color: #090;
}
.board-wrap .button-join,
.board-wrap .button-solve {
  display: none;
}
.play-wrap .timer,
.play-wrap .play,
.play-wrap .button-start {
  display: none;
}
.starttime .play-wrap .timer {
  display: block;
}
.state-active .play-wrap .play {
  display: block;
}
