@import nib

$font_size = 16px
$font_size_small = $font_size - 4
$font_size_big = $font_size + 4

border-radius($border_radius = 5px)
  border-radius $border_radius

body
  color #000
  font-family Helvetica, arial, sans-serif
  font-size $font_size

input[type="text"]
  background-color #fff
  border 1px solid #ccc
  border-radius(3px)
  padding 5px 5px

.fp
  font-family Helvetica
  background #eee
  margin 40px 110px 30px 30px
  padding 30px 50px 120px

  h2
    font-size 40px
    margin 50px 0 30px

  ol
    padding-bottom 40px
    li
      padding 8px 0
      font-weight bold
      font-size 18px
      &:first-child
        color #bbb
        text-decoration line-through
        -webkit-text-decoration-color #c00

  a
    color #196dc4
    text-decoration none
    &:hover
      text-decoration underline

#cont
  margin 20px auto
  width 960px

.btn
  background-color #090
  border-radius()
  cursor pointer
  color #fff
  font-weight bold
  padding 6px 0
  text-align center

.room
  background-color #f2f2f2
  border-radius()
  box-sizing border-box
  height ($h = 160px)
  line-height 140%
  float left
  margin 5px
  padding 10px
  position relative
  width $h
  .button-open
  .button-add
    position absolute
    bottom 10px
    width $h - 2*10
  .button-add
    .btn
      background-color #f90
  input
    box-sizing border-box
    width $h - 2*10

$header_height = 50px
.header
  background-color #999
  border-radius()
  color #fff
  height $header_height
  padding 0 20px
  position relative
  .app
  .name
    font-size $font_size_big
    font-weight bold
    line-height $header_height
    padding-right 10px
  .info
    line-height $header_height
    position absolute
    right 20px
    top 0
    .label
      font-weight bold
      padding-left 10px

$content_col_h = 317px
$content_col_w = $content_col_h
.content
  padding-top 10px
  .col
    background-color #f2f2f2
    border-radius()
    box-sizing border-box
    float left
    min-height $content_col_h
    margin-left 4px
    padding 10px
    position relative
    width $content_col_w
  .col.board-wrap
    margin-left 0

.board-wrap
  .board
    background-color #ddd
    //background -webkit-gradient(radial, 50% 50%, -0, 50% 50%, 100, from(#ddd), to(transparent))
    border-radius 50%
    height ($h = 200px)
    position relative
    width $h
    .player
      left 50%
      position absolute
      top 50%
      transition-duration .6s
      transition-property left, top
      transition-timing-function ease-in-out
    .current
      color #090
  .button-join
  .button-solve
    display none
    position absolute
    bottom 10px
    width $content_col_w - 2*10

.is-my-move
  .button-solve
    display block

.play-wrap
  .timer-cont
  .play
  .button-start
  .button-start-nopeople
  .button-start-notmaster
    display none
  .starttime &
    .timer-cont
      display block
  .state-active &
    .play
      display block
  .mastername
  .winnername
  .timer
    font-weight bold
    padding 0 5px
  .button-start
    input[type="text"]
      margin 0 5px
      text-align center
      width 20px
    .btn
      margin-top 5px
  .timer-cont
    margin-bottom 20px

.result
  margin-bottom 10px
  .title
    font-weight bold
    line-height 100%
    margin-bottom 2px
  table
    background-color #ddd
    border-radius(3px)
    border-spacing 0
    display none
    font-size $font_size_small
    padding 4px
    width 100%
    td
      text-align right
      width 25%
    td.name
      text-align left
    thead td
      font-weight bold
  .no-result
    background-color #ddd
    border-radius(3px)
    font-size $font_size_small
    padding 4px
  &.has-result
    .no-result
      display none
    table
      display table
    .result-net-content
      display block

.result-net
  overflow-x hidden
.result-net-content
  background-color #ddd
  border-radius(3px)
  display none
  font-size $font_size_small
  float left
  padding 4px
  width 100%
  .names
    float left
    padding-top 2px
    width 25%
  .packets
    float left
    overflow-x auto
    padding-top 2px
    width 75%
  .row
    height 16px
    line-height 16px
    position relative
  .packet
    background-color #84b6ff
    border-radius 4px
    height 10px
    line-height 16px
    left 0
    position absolute
    top 2px

.result-leaderboard
  .sum
    color #900

.tiles
  width 288px
  height 288px
  border 3px solid #333
  border-radius 5px
  .tile
    width 32px
    float left
    height 32px
    font-size 26px
    text-align center
    border 1px solid #444
    box-sizing border-box
    padding-top 4px
    line-height 100%
    user-select none
    color #444
    cursor default
    &.active
      cursor pointer
      background #fff
      color #00a
      border 1px solid #000
    &.active:hover
    &.active.selected
      border-color #c00
      background #fee
    &.bb
      border-bottom-width 2px
    &.bt
      border-top-width 2px
    &.bl
      border-left-width 2px
    &.br
      border-right-width 2px
    &.error
      background #ffbfbf
      &.active
        color #c00



.controls
  width 288px
  margin-top 20px
  border 2px solid #f0e80b
  height 32px
  display none
  &.visible
    display block
  .control
    @extends .tiles .tile
    background #fffec2
    color #665438
    border-color #dcb569
    &:hover
      background #cfc302
      cursor pointer

.game-over
  border 3px solid #000
  margin-bottom 10px
  border-radius 10px
  background #fee
  padding 14px
  text-align center
  font-size $font_size_big
  display none
  .state-end &
    display block
  .player-limit
    display none
  .winner
    display none
    .winnername
      padding 0 5px
      font-weight bold

.solve-timeout
  font-size 26px
  font-weight bold
  color #f00
  position absolute
  text-align center
  width 295px
  top 110px
  user-select none
  cursor default
  display none
  .is-my-move &
    display block

.your-move-notice
  position absolute
  z-index 100
  background #900
  border-radius()
  color #fff
  padding 5px 10px
  font-weight bold
  font-size $font_size_big
  line-height 100%
  left 50%
  width 250px
  margin-left -135px
  text-align center
  top 10px
  display none
  .is-my-move &
    display block

.arrow
  width 130px
  height 40px
  position absolute
  background url(../img/arrow.png) no-repeat 80px
  background-size 40px
  position absolute
  top 100px
  left 160px
  transform-origin 0 50%
  transition-duration 1s
  transition-property -webkit-transform, -moz-transform
